.DS_Store
*.pyc
*~
.*.swp
._*
.project
.pydevproject
.settings
.env
.vscode
build
update.sh
lib/__init__.py
rt-sandbox/**
.rt-deps/**
*.egg-info/**
dist/**
# test_code/**
.style.yapf

var/**
.credentials/**
*.png
*.log
*.txt
*.db3
*.sqlite
*.sh
*.json
*.html
*.csv
*.db
*.db-journal
*.sqlite3
*.bak

# temp
pkg/**
bak/**
**/backup_*/**

**/summary/**
**/test_env/**
**/img/**